POSTGRES_DB=melosmarket
POSTGRES_USER=melosmarket
POSTGRES_PASSWORD=melosmarket

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/melosmarket
SPRING_DATASOURCE_USERNAME=melosmarket
SPRING_DATASOURCE_PASSWORD=melosmarket

