:80 {
    encode gzip

    reverse_proxy /api/* backend:8080
    reverse_proxy frontend:80
}

{$PRIMARY_DOMAIN}, www.{$PRIMARY_DOMAIN} {
    encode gzip

    reverse_proxy /api/* backend:8080
    reverse_proxy frontend:80
}
